<footer>
    <div>
        <div class="links-section">
            <div class="about-card">
                <div class="image-container">
                    <img id='logo-image' src="assets/images/logo-image.png" />
                    <img id="logo-text" src="assets/images/logo-text.png" />
                </div>
                <div class="description-container">
                    <p>Six masters of the Hindustani tradition, performing together for over two decades. Music as
                        heritage.
                        Music as presence.</p>
                </div>
                <div class="action-container">
                    <div class="fill-up-button">
                        <a routerLink="/reserve-performance">Reserve Performance</a>
                    </div>
                </div>
            </div>
            <div class="links-cards">
                <div class="links-card">
                    <h3>Navigate</h3>
                    <ul>
                        <li><a href="#about-section">About Us</a></li>
                        <li><a href="#artists-section">Our Artists</a></li>
                        <li><a href="#shows-section">Previous Shows</a></li>
                        <li><a href="#contact-section">Contact</a></li>
                    </ul>
                </div>
                <div class="links-card">
                    <h3>Performance</h3>
                    <ul>
                        <li><a routerLink="/reserve-performance">Reserve Date</a></li>
                        <li><a routerLink="/reserve-performance">Private Concerts</a></li>
                        <li><a routerLink="/reserve-performance">Weddings</a></li>
                        <li><a routerLink="/reserve-performance">Corporate Events</a></li>
                    </ul>
                </div>
                <div class="links-card">
                    <h3>Contact</h3>
                    <ul>
                        <li><a>Instagram</a></li>
                        <li><a>Youtube</a></li>
                        <li><a href="https://www.facebook.com/people/%EF%BC%B3%EF%BD%88%EF%BD%81%EF%BD%8E%EF%BD%8B%EF%BD%81%EF%BD%92%EF%BD%81/61590209531479/">Facebook</a></li>
                        <li><a href="mailto::shankara.music.official006@gmail.com">Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="light-gold-divider divider-horizontal"></div>
        <div class="copyright-section">
            <div>
                <p>&copy; 2026 Shankara Music Official. All rights reserved.</p>
            </div>
            <div>
                <p>Crafted with reverence for classical music.</p>
            </div>
        </div>
    </div>
</footer>