<section id="hero-section">
    <div class="hero-details-container">
        <div class="hero-details">
            <span id="tag" class="fadeUp fadeDelay" style="--delay: 0.1s;">Est. 2025. Kolkata, India</span>
            <h2 id="heading" class="fadeUp fadeDelay" style="--delay: 0.3s;">Shankara</h2>
            <h4 id="heading-tag" class="fadeUp fadeDelay" style="--delay: 0.5s;">Tradition reimagined on strings</h4>
            <p class="fadeUp fadeDelay" style="--delay: 0.7s;">Where ancient ragas meet modern audiences. Experience the depth, emotion, and spiritual richness of Indian classical music brought to life by masterful artistry. A journey through sound, devotion, and emotion—unfolding the profound beauty of Indian classical music one note at a time.</p>
            <div class="action-container fadeUp fadeDelay" style="--delay: 0.9s;">
                <div class="primary-button">
                    <a>Reserve a Performance</a>
                </div>
                <div class="secondary-button">
                    <a>Discover Us</a>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <div class="hero-image-container fadeUp fadeDelay" style="--delay: 0.7s;">
                <img src="assets/images/band-members.png" alt="Band Members" />
            </div>
        </div>

        <div class="scroll-indicator fadeUp fadeDelay" style="--delay: 1.1s;">
            <div class="scroll-bar"></div>
            <div class="scroll-text">Scroll</div>
        </div>
    </div>
</section>